*.env

/.idea
/nodes.json
/sourse_data/
backend/log/
*.sqlite3
*/staticfiles/
/backend/django_app/db_device/db/
/backend/django_app/db_device/staticfiles/
/2. Init Database/
backend/docker-compose.yml
/frontend/
/__pycache__
*.pyc