*.env
/.idea/
*.sqlite3
*staticfiles/
*django_app/db_device/db/
*django_app/db_device/staticfiles/

/__pycache__/
*.pyc
/log/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/core/frontend/static/frontend/images/logo.svg
/core/frontend/static/frontend/images/палитра.png
/core/frontend/templates/frontend/index/includes/modal_list_verifications.html
/core/frontend/templates/frontend/index/includes/offcanvas.html
/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/61a7467fe259ff865fda6ed21768c62f/meta.json
/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/61a7467fe259ff865fda6ed21768c62f/private_key.json
/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/61a7467fe259ff865fda6ed21768c62f/regr.json
/etc/letsencrypt/csr/0000_csr-certbot.pem
/etc/letsencrypt/csr/0001_csr-certbot.pem
/etc/letsencrypt/csr/0002_csr-certbot.pem
/etc/letsencrypt/csr/0003_csr-certbot.pem
/etc/letsencrypt/csr/0004_csr-certbot.pem
/etc/letsencrypt/csr/0005_csr-certbot.pem
/etc/letsencrypt/csr/0006_csr-certbot.pem
/etc/letsencrypt/keys/0000_key-certbot.pem
/etc/letsencrypt/keys/0001_key-certbot.pem
/etc/letsencrypt/keys/0002_key-certbot.pem
/etc/letsencrypt/keys/0003_key-certbot.pem
/etc/letsencrypt/keys/0004_key-certbot.pem
/etc/letsencrypt/keys/0005_key-certbot.pem
/etc/letsencrypt/keys/0006_key-certbot.pem
/etc/letsencrypt/options-ssl-nginx.conf
/etc/letsencrypt/ssl-dhparams.pem
/core/htmlcov/
/core/.coverage
/TODO
