root {
    --height-content: calc(100vh - 54px - 24px)
}

.container{
    height: 100vh;
    overflow: hidden;
}
.content {
    height: calc(100vh - 54px - 24px);
}

.addresses {
    height: calc((100vh - 54px - 24px) * 0.7);
}

.devices {
    height: calc((100vh - 54px - 24px) * 0.3);
}