{% load context_tags %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary ">
  <div class="container-fluid justify-content-between">
    <div>
      <a class="navbar-brand" role="checkbox" data-bs-toggle="collapse"
         data-bs-target="#menu-bar" aria-expanded="false"
         aria-controls="menu-bar" href="#menu-bar">
        <img src="{% static "frontend/images/align-justify.svg" %}" alt="" width="20" height="20"
             class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand text-light" href="{% url "frontend:home" %}">
        {#        <img src="{% static "frontend/images/logo.png" %}" alt="" width="20" height="20"#}
        {#             class="d-inline-block align-text-top">#}
        Device Control
      </a>
    </div>
    <div>
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuOrganizations" data-bs-toggle="dropdown" aria-expanded="false">
              {% if org_selected == 'all' %}
                all_organizations
              {% else %}
                {{ select_org }}
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuOrganizations">
              <li><a href="{% url 'frontend:home' %}?organization=all&tso={{ tso_selected }}&customer={{ cust_selected }}">all_organizations</a></li>
              {% for org in all_user_orgs %}
                {% if org.id == org_selected|add:"0" %}
                  <li>{{ org.name }}</li>
                {% else %}
                  <li><a href="{% url 'frontend:home' %}?organization={{ org.slug }}&tso={{ tso_selected }}&customer={{ cust_selected }}">{{ org.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
              <li><a class="btn btn-secondary" href="#">
                Профиль
              </a></li>
              <li>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loadFile">
                  Загрузить данные из файла
                </button>
              </li>
              <li><a href="#">Другое действие</a></li>
              <li><a class="btn btn-secondary" href="{% url "frontend:logout" %}">Выход</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Модальное окно -->
{% include "frontend/base/includes/modal-load-file.html" %}


