{% load context_tags %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary ">
  <div class="container-fluid justify-content-between">
    <div>
      <a class="navbar-brand" role="checkbox" data-bs-toggle="collapse"
         data-bs-target="#menu-bar" aria-expanded="false"
         aria-controls="menu-bar" href="#menu-bar">
        <img src="{% static "frontend/images/align-justify.svg" %}" alt="" width="20" height="20"
             class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand text-light" href="{% url "frontend:home" %}">
        <img src="{% static "frontend/images/logo.png" %}" alt="" width="20" height="20"
             class="d-inline-block align-text-top">
        Device Control
      </a></div>
    <div>
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">{{ orgs }}</li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {% if org_selected == 'all' %}
                all
              {% else %}
                {{ orgs|query_get_pk:org_selected }}
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for org in orgs %}
                {% if org.id == org_selected|add:"0" %}
                  <li>{{ org.name }}</li>
                {% else %}
                  <li><a href="{% url 'frontend:home' %}?organization={{ org.id }}&tso={{ tso_selected }}&customer={{ cust_selected }}">{{ org.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        {#        <li class="nav-item">#}
        {#          <select class="form-select navbar-brand" aria-label="org-select" title="org-select">#}
        {#            <option value="all">Все организации</option>#}
        {#            {% for org in orgs %}#}
        {#              {% if org.id == org_selected|add:"0" %}#}
        {#                <option selected>{{ org.name }}</option>#}
        {#              {% else %}#}
        {#                <option value="{{ org.pk }}"><a href="{% url 'frontend:home' %}?organization={{ org_selected }}">{{ org.name }}</a></option>#}
        {#              {% endif %}#}
        {#            {% endfor %}#}
        {#          </select>#}
        {#        </li>#}
        <li class="nav-item">
          <a class="navbar-brand text-light" href="#"> {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-sm" type="button" href="{% url "frontend:logout" %}">Exit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
