{% load context_tags %}
{% load device_tags %}

{% if devices %}
  <table class="table table-bordered table-hover" id="devices">
    <thead>
    <tr>
      {% get_headers_device as HEADERS_DEVICE %}

      {% for header in HEADERS_DEVICE.values %}
        <th>{{ header }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for device in devices %}

      <!-- Модальное окно -->
      {% show_modal_verifications device %}

      {% if device.id == dev_selected|add:"0" %}
        <tr class="table-active">
          {% for key in HEADERS_DEVICE.keys %}

            <td>{{ device|attr:key }}</td>
          {% endfor %}
        </tr>
      {% else %}
        <tr>
          {% for key in HEADERS_DEVICE.keys %}
            <td><a class="link-dark" data-bs-toggle="modal" data-bs-target="#vModal-{{ device.id }}" href="#vModal-{{ device.id }}">
              {{ device|attr:key }}
            </a></td>
          {% endfor %}
        </tr>
      {% endif %}

      <!-- Модальное окно -->
{#      {% include "frontend/index/includes/modal_list_verifications.html" %}#}
    
    {% endfor %}
    </tbody>
  </table>
{% endif %}

