{% load context_tags %}


{% for tso in menu_items %}
  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button collapsed"
              id="menu-accordion-button"
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#flush-collapse{{ tso|dictitem:'tso__slug' }}" 
              aria-expanded="false" 
              aria-controls="flush-collapseOne"
              hx-get="{% url 'frontend:metering_unit_list' %}?tso={{ tso|dictitem:'tso__slug' }}{% if org_selected %}&organization={{ org_selected }}{% endif %}"
              hx-target="#addresses-content"
              hx-load-url="True"
      >
        {{ tso|dictitem:'tso__name' }}
      </button>
    </div>
    <div id="flush-collapse{{ tso|dictitem:'tso__slug' }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushMenu">
      <div class="accordion-body">
        <div class="list-group"
             hx-get="{% url 'frontend:menu_item' %}?tso={{ tso|dictitem:'tso__slug' }}{% if org_selected %}&organization={{ org_selected }}{% endif %}"
             hx-target="this"
             hx-trigger="load, changed"
        > </div>
    </div>
  </div>
{% endfor %}
