<li>
  <a class="dropdown-item btn btn-secondary"
      {% if org_selected %}
     href="{% url 'frontend:home' %}?organization={{ org_selected }}"
      {% else %}
     href="{% url 'frontend:home' %}"
      {% endif %}
  > Все организации </a>
</li>
{% for org in user_orgs_for_select %}
  {% if org.slug == org_selected %}
    <li>{{ org.name }}</li>
  {% else %}
    <li><a class="dropdown-item btn btn-secondary" href="{% url 'frontend:home' %}?organization={{ org.slug }}">{{ org.name }}</a></li>
  {% endif %}
{% endfor %}
