{% load static %}
<nav class="navbar  bg-secondary">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" role="checkbox" data-bs-toggle="collapse"
               data-bs-target="#menu-bar" aria-expanded="false"
               aria-controls="menu-bar" href="#menu-bar">
                <img src="{% static "frontend/images/align-justify.svg" %}" alt="" width="30" height="30"
                     class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand text-light" href="#">
                <img src="{% static "frontend/images/logo.png" %}" alt="" width="30" height="30"
                     class="d-inline-block align-text-top">
                Device Control
            </a>
        </div>
        <div>
            <a class="navbar-brand text-light" href="#">{{ user.username }}</a>
            <a class="btn btn-dark" type="button" href="{% url "frontend:logout" %}">Exit</a>
        </div>
    </div>
</nav>
