root {
    --height-content: calc(100vh - 54px - 24px)
}

/*переопределение размера шрифта*/
.navbar-brand {
    font-size: 1rem;
}
#orgs_list {
  max-height: 50vh;
  overflow-y: scroll;
}

body {
    --bs-body-font-size: 0.8rem;
}

.main-container {
    height: 100vh;
    overflow: hidden;
}


.menu-bar {
    height: calc(100vh - 54px - 24px);
    overflow-y: scroll;
}

#menu-accordion-button {
    font-size: 0.8rem;
}

.addresses {
    height: calc((100vh - 54px - 24px) * 0.7);
    overflow-y: scroll;
}

.devices {
    height: calc((100vh - 54px - 24px) * 0.3);
    overflow-y: scroll;
}

@media (max-width: 992px) {
    .container, .menu-bar, .addresses, .devices {
        height: auto;
        overflow: auto;
    }
}

.login {
    height: 100%;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}