[Unit]
Description=dev-test daemon
Requires=dev-test.socket
After=network.target

[Service]
User=www
Group=www-data
WorkingDirectory=dbms_template_path/core
ExecStart=dbms_template_path/env/bin/gunicorn \
          --access-logfile dbms_template_path/log/gunicorn/access.log \
          --error-logfile dbms_template_path/log/gunicorn/error.log \
          --workers 3 \
          --bind unix:/run/dev-test.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target