{% extends "frontend/base/base_bs5_htmx.html" %}

    {% block content %}
    <div class="row top_bar">
      <div class="col-12">
        {% include 'frontend/includes/header-nav-bar.html' %}
      </div>
    </div>
    <div class="row content">
      <div id="sidebar-content" class="col-3 menu-bar">

        <!--- sidebar menu --->
        {% include "frontend/includes/sidebarMenu.html" %}

      </div>
      <div class="col-9">
        <div class="row ">
          <div id="addresses-content" class="col addresses">

            <!--- Addresses --->
            {% include "frontend/includes/list_metering_units.html" %}

          </div>
        </div>
        <div class="row ">
          <div id="devices-content" class="col devices">

            <!--- Devices --->
            {% include "frontend/includes/list_devices.html" %}

          </div>
        </div>
      </div>
    </div>
    <footer class="row footer">
      <div class="col-12">
        {% block footer %}
          <div class="bg-secondary text-center text-light">2024 © AlexeyInkov</div>
        {% endblock %}
      </div>
    </footer>
  {% endblock %}
