{% load context_tags %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary ">
  <div class="container-fluid justify-content-between">
    <div>
      <a class="navbar-brand" role="checkbox" data-bs-toggle="collapse"
         data-bs-target="#sidebar-content" aria-expanded="false"
         aria-controls="sidebar-content" href="#sidebar-content">
        <img src="{% static "frontend/images/align-justify.svg" %}" alt="" width="20" height="20"
             class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand text-light" href="{% url "frontend:home" %}">
        Device Control
      </a>
    </div>
    <div>
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenuOrganizations"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    hx-get="{% url 'frontend:user_organization_list' %}"
                    hx-target="#orgs_list"
                    hx-swap="innerHTML"
            >
              {% if select_org %}
                {{ select_org }}
              {% else %}
                Все организации
              {% endif %}
            </button>
            <ul id="orgs_list" class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuOrganizations">

              <!-- Список организаций подгружается с помощью HTMX -->

            </ul>
          </div>

        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserMenu">
              <li><a class="dropdown-item btn btn-secondary disabled"
                     href="#"
              > Профиль </a></li>


              <li><a
                  class="dropdown-item btn btn-secondary"
                  href="#"
                  type="button"
                  hx-get="{% url 'frontend:load_data_from_file' %}"
                  hx-target="#dialogLoadFile"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#loadFileModal"
              >Загрузить данные из файла
              </a></li>

              <li><a
                  class="dropdown-item btn btn-secondary"
                  href="{% url 'frontend:refresh_valid_date' %}"
              >Обновить данные о поверке
              </a></li>

              <li><a class="dropdown-item btn btn-secondary"
                     href="{% url 'frontend:load_data_to_file' %}?
{% if tso_selected %}tso={{ tso_selected }}&{% endif %}
{% if cust_selected %}customer={{ cust_selected }}&{% endif %}
{% if org_selected %}organization={{ org_selected }}&{% endif %}
{% if mu_selected %}metering_unit={{ mu_selected }}{% endif %}">
                Выгрузить данные в файл
              </a></li>

              <li><a class="dropdown-item btn btn-secondary"
                     href="{% url "my_auth:logout" %}">
                Выход
              </a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Модальное окно -->
<div class="modal fade" id="loadFileModal">
  <div id="dialogLoadFile" class="modal-dialog modal-lg"></div>
</div>


