DJANGO_SETTINGS_MODULE=config.settings.prodaction

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_INTERNAL_IPS=

DJANGO_DEBUG=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=

EMAIL_USER=
EMAIL_PASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_URL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

DOMAIN_URL=
DOMAIN_EMAIL=

TELEGRAM_BOT_NAME=
TELEGRAM_BOT_TOKEN=
